<div class="vision-container show" style="margin-top:1rem;">
  <div class="container">
    <%= form_for(:patient_record, url: patient_update_record_path, type: "anticipatory", :validate => true, :class => 'form-horizontal') do |f| %>

      <% data = @patient.anticipatory.get_list %>
      <% if data %>
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :health_promotion, "Health Promotion/Safety" %>
          </div>
        </div> 
        <div class="form-group row">
          <div class="col-md-6">
            <%= f.select :health_promotion1, options_for_select(data["Health Promotion/Safety"], @patient.anticipatory.health_promotion1), :class => 'form-control' %>
          </div>
        </div> 
        <div class="form-group row">
          <div class="col-md-6">
            <%= f.select :health_promotion2, options_for_select(data["Health Promotion/Safety"], @patient.anticipatory.health_promotion2), :class => 'form-control' %>
          </div>
        </div> 
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :development_stimulation, "Developmental Stimulation" %>
          </div>
        </div> 
        <div class="form-group row">
          <div class="col-md-6">
            <%= f.select :development_stimulation1, options_for_select(data["Developmental Stimulation"], @patient.anticipatory.development_stimulation1), :class => 'form-control' %>
          </div>
        </div> 
        <div class="form-group row">
          <div class="col-md-6">
            <%= f.select :development_stimulation2, options_for_select(data["Developmental Stimulation"], @patient.anticipatory.development_stimulation2), :class => 'form-control' %>
          </div>
        </div> 
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :socialization, "Socialization" %>
          </div>
        </div> 
        <div class="form-group row">
          <div class="col-md-6">
            <%= f.select :socialization1, options_for_select(data["Socialization"], @patient.anticipatory.socialization1), :class => 'form-control' %>
          </div>
        </div> 
        <div class="form-group row">
          <div class="col-md-6">
            <%= f.select :socialization2, options_for_select(data["Socialization"], @patient.anticipatory.socialization2), :class => 'form-control' %>
          </div>
        </div> 
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :nutrition, "Nutrition" %>
          </div>
        </div> 
        <div class="form-group row">
          <div class="col-md-6">
            <%= f.select :nutrition1, options_for_select(data["Nutrition"], @patient.anticipatory.nutrition1), :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <%= f.select :nutrition2, options_for_select(data["Nutrition"], @patient.anticipatory.nutrition2), :class => 'form-control' %>
          </div>
        </div>
      <% else %>
        <div class="form-group col-md-12 row">
          <strong><i>There is no anticipatory guidelines for patient of this age group.</i></strong>
        </div>         
      <% end %>

      <div class="row col-md-12"><hr></div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label "Comment" %>
        </div>
        <div class="col-md-5">
          <% comment = @patient.anticipatory.comment %>
          <textarea placeholder="Comment" name="patient_record[comment]" class="form-control" rows="2"><%= comment %></textarea>
        </div>
      </div>
      
      <div class="form-group row col-md-12">
        <hr>
        <div class="container">
          <label class="col-md-3">Working Practitioner(s)</label>
          <div class="col-md-5">
            <% practitioner = @patient.anticipatory.practitioner.empty? ? "#{current_user.first_name} #{current_user.last_name}" : @patient.anticipatory.practitioner %>
            <%= f.text_field :practitioner, :class => "form-control", :value => practitioner, :placeholder => "Can't be blank" %>
          </div>  
        </div>
      </div> 

      <%= render 'patient/input_footer' %>

    <% end %>
  </div>
</div>

<script>
  $(".anticipatory").addClass("active");
</script> 