<div class="container">
  <h1><i class="fa fa-user-md fa-lg"></i><%= current_user.role %> Dashboard</h1>
  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">Patient Data</div>
      <div class="panel-body">
        <p>All patient's data is confidential.</p>
        <%= form_tag student_dashboard_path, :method => 'get', :class => "navbar-form", :role => "search" do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Enter patient" %>
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
              <button class="btn btn-default" type='reset'><i class="fa fa-times"></i></button>
            </div>
          </div>
        <% end %>
      </div>
      <table class="table">
      <tr>
        <th>Record ID</th>
        <th>First name</th>
        <th>Middle name</th>
        <th>Last name</th>        
        <th>Gender</th>
        <th>DOB</th>
      </tr>
      <% @all_patients.each do |patient| %>
        <tr class='clickableRow' href='/patient/<%= "#{patient.id}" %>'>
          <td><%= patient.id %></td>
          <td><%= patient.first_name %></td>
          <td><%= patient.middle_name %></td>
          <td><%= patient.last_name %></td>
          <td><%= patient.gender %></td>
          <td><%= patient.dob %></td>
        </tr>
      <% end %>
      </table>
    </div>
    <%= will_paginate @all_patients, renderer: BootstrapPagination::Rails %>
  </div>
  <h2>New Patient</h2>
  <div class="container">
    <%= form_for(:patient, url: patient_path, :validate => true, :class => "form-horizontal") do |f| %>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :first_name %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :first_name, :class => "form-control", :placeholder => "First Name" %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :middle_name, "Middle name (Optional)" %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :middle_name, :class => "form-control", :placeholder => "Middle Name" %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :last_name %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :last_name, :class => "form-control", :placeholder => "Last Name" %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :gender %>
        </div>
        <div class="col-md-7">
          <%= f.select :gender, options_for_select(["Male", "Female"]) %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label(:dob, "DOB") %>
        </div>
        <div class="col-md-7">
          <%= f.date_select :dob, :start_year => 1950, :end_year => Date.today.year %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :parent_permission %>
        </div>
        <div class="col-md-3">
          <%= f.select :parent_permission, options_for_select(["None", "Complete", "Limited"]) %>
        </div>
        <div class="col-md-4">          
          <%= f.text_field :parent_permission_desc, :class => "form-control", :disabled => "disabled", :placeholder => "If limited, explain here" %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-12"> 
          <button type="submit" class="btn btn-success">Create</button>
        </div>
      </div>

    <% end %>
  </div>
</div>

<script>
  $(".clickableRow").click(function() {
    window.document.location = $(this).attr("href");
  });
  $("#<%= current_user.role.downcase %>").addClass("active");
  $("#patient_parent_permission").change(function() {
    if ($(this).find(":selected").text() == "Limited") {
      $("#patient_parent_permission_desc").attr("disabled", false);
    }
    else {
      $("#patient_parent_permission_desc").attr("disabled", true); 
    }
  });
</script>
