<div class="vision-container show" style="margin-top:1rem;">
  <div class="container">
    <%= form_for(:patient_record, url: patient_update_record_path, type: "vision", :validate => true, :class => 'form-horizontal') do |f| %>

      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :unable_to_screen, "Unable To Screen" %>
        </div>
        <div class="col-md-5">
          <% unable_to_screen = @patient.vision.unable_to_screen %>
          <%= f.check_box :unable_to_screen, :checked => unable_to_screen, :id => "enableEntries" %>
          (Please explain in Comment Section)
        </div>
      </div>

      <div style="display:<%= @patient.vision.unable_to_screen ? 'none' : 'default' %>" id="entries"> 
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :use_corrective_lenses, "Use Corrective Lenses" %>
          </div>
          <div class="col-md-5">
            <% use_corrective_lenses = @patient.vision.use_corrective_lenses %>
            <%= f.check_box :use_corrective_lenses, :checked => use_corrective_lenses %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :worn_for_testing, "Worn For Testing" %>
          </div>
          <div class="col-md-5">
            <% worn_for_testing = @patient.vision.worn_for_testing %>
            <%= f.check_box :worn_for_testing, :checked => worn_for_testing %>
          </div>
        </div>
        <div class="row col-md-12"><hr></div>
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :ol, "Left eye (o.l., o.s.)" %>
          </div>
          <div class="col-md-3">
            <div class="col-md-5">
            <% ol1 = @patient.vision.ol1 == 0 ? "" : @patient.vision.ol1 %>
              <%= f.text_field :ol1, :class => "form-control", 
                :value => ol1, :placeholder => "Result" %>  
            </div>
            <div class="col-md-2">/</div>
            <div class="col-md-5">
            <% ol2 = @patient.vision.ol2 == 0 ? "" : @patient.vision.ol2 %>
              <%= f.text_field :ol2, :class => "form-control", 
                :value => ol2, :placeholder => "Result" %> 
            </div>
          </div>

          <div class="col-md-2">            
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-switch btn-sm <%= @patient.vision.ol_result ? 'active btn-success' : 'btn-default' %>">
                <input type="radio" name="patient_record[ol_result]" value="true">Pass
              </label>
              <label class="btn btn-switch btn-sm <%= @patient.vision.ol_result ? 'btn-default' : 'active btn-danger' %>">
                <input type="radio" name="patient_record[ol_result]" value="false">Fail
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :od, "Right eye (o.d.)" %>
          </div>
          <div class="col-md-3">
            <div class="col-md-5">
            <% od1 = @patient.vision.od1 == 0 ? "" : @patient.vision.od1 %>
              <%= f.text_field :od1, :class => "form-control", 
                :value => od1, :placeholder => "Result" %>  
            </div>
            <div class="col-md-2">/</div>
            <div class="col-md-5">
            <% od2 = @patient.vision.od2 == 0 ? "" : @patient.vision.od2 %>
              <%= f.text_field :od2, :class => "form-control", 
                :value => od2, :placeholder => "Result" %> 
            </div>
          </div>

          <div class="col-md-2">            
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-switch btn-sm <%= @patient.vision.od_result ? 'active btn-success' : 'btn-default' %>">
                <input type="radio" name="patient_record[od_result]" value="true">Pass
              </label>
              <label class="btn btn-switch btn-sm <%= @patient.vision.od_result ? 'btn-default' : 'active btn-danger' %>">
                <input type="radio" name="patient_record[od_result]" value="false">Fail
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :ou, "Both eyes (o.u.)" %>
          </div>
          <div class="col-md-3">
            <div class="col-md-5">
            <% ou1 = @patient.vision.ou1 == 0 ? "" : @patient.vision.ou1 %>
              <%= f.text_field :ou1, :class => "form-control", 
                :value => ou1, :placeholder => "Result" %>  
            </div>
            <div class="col-md-2">/</div>
            <div class="col-md-5">
            <% ou2 = @patient.vision.ou2 == 0 ? "" : @patient.vision.ou2 %>
              <%= f.text_field :ou2, :class => "form-control", 
                :value => ou2, :placeholder => "Result" %> 
            </div>
          </div>

          <div class="col-md-2">            
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-switch btn-sm <%= @patient.vision.ou_result ? 'active btn-success' : 'btn-default' %>">
                <input type="radio" name="patient_record[ou_result]" value="true">Pass
              </label>
              <label class="btn btn-switch btn-sm <%= @patient.vision.ou_result ? 'btn-default' : 'active btn-danger' %>">
                <input type="radio" name="patient_record[ou_result]" value="false">Fail
              </label>
            </div>
          </div>
        </div>
        <div class="row col-md-12"><hr></div>
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :under_professional_care, "Under Professional Care" %>
          </div>
          <div class="col-md-5">
            <% under_professional_care = @patient.vision.under_professional_care %>
            <%= f.check_box :under_professional_care, :checked => under_professional_care %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :need_further_evaluation, "Need Further Evaluation" %>
          </div>
          <div class="col-md-5">
            <% need_further_evaluation = @patient.vision.need_further_evaluation %>
            <%= f.check_box :need_further_evaluation, :checked => need_further_evaluation %>
          </div>
        </div>
      </div>

      <div class="row col-md-12"><hr></div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label "Comment" %>
        </div>
        <div class="col-md-5">
          <% comment = @patient.vision.comment %>
          <textarea placeholder="Comment" name="patient_record[comment]" class="form-control" rows="2"><%= comment %></textarea>
        </div>
      </div>

      <div class="form-group row col-md-12">
        <hr>
        <div class="container">
          <label class="col-md-3">Working Practitioner(s)</label>
          <div class="col-md-5">
            <% practitioner = @patient.vision.practitioner.empty? ? "#{current_user.first_name} #{current_user.last_name}" : @patient.vision.practitioner %>
            <%= f.text_field :practitioner, :class => "form-control", :value => practitioner, :placeholder => "Can't be blank" %>
          </div>  
        </div>
      </div> 

      <%= render 'patient/input_footer' %>

    <% end %>
  </div>
</div>

<script>
  $(".vision").addClass("active");
  $("#enableEntries").change(function() {
    $("#entries").toggle();
  });
  $(".btn-switch").click(function() {
    if ($(this).find("input").attr("value") == "true") {
      $(this).removeClass("btn-default");
      $(this).addClass("btn-success");
      $(this).parent().find(".btn-danger").addClass("btn-default");
      $(this).parent().find(".btn-danger").removeClass("btn-danger");
    }
    else {
      $(this).removeClass("btn-default");
      $(this).addClass("btn-danger");
      $(this).parent().find(".btn-success").addClass("btn-default");
      $(this).parent().find(".btn-success").removeClass("btn-success");
    }
  });
</script> 