<div class="vitals-container show" style="margin-top:1rem;">
  <div class="container">
    <%= form_for(:patient_record, url: patient_update_record_path, type: "vital", :validate => true, :class => 'form-horizontal') do |f| %>
    
      <div class="form-group row form-inline">
        <div class="col-md-3">
          <%= f.label :height %>
        </div>
        <div class="input-group col-md-3">
          <% feet = @patient.vital.height_in_feet == 0 ? "" : @patient.vital.height_in_feet %>
          <%= f.text_field :in_feet, :class => "form-control", 
            :value => feet, :placeholder => "In feet" %>  
          <span class="input-group-addon">feet</span>
          <% inches = @patient.vital.height_in_inches == 0 ? "" : @patient.vital.height_in_inches %>
          <%= f.text_field :in_inches, :class => "form-control", 
          :value => inches, :placeholder => "In inches" %>
          <span class="input-group-addon">inches</span>
        </div>  
      </div>  
      <div class="form-group row form-inline">
        <div class="col-md-3">
          <%= f.label :weight %>
        </div>
        <div class="input-group col-md-3">
          <% weight = @patient.vital.weight == 0 ? "" : @patient.vital.weight %>
          <%= f.text_field :weight, :class => "form-control", 
            :value => weight, :placeholder => "Weight" %>  
          <span class="input-group-addon">lbs</span>
        </div>  
      </div> 
      <% if @patient.vital.bmi != 0.0 %>
        <div class="form-group row form-inline">
          <div class="col-md-3">
            <%= f.label :bmi, "Body Mass Index (BMI)" %>
          </div>
          <div class="input-group col-md-3">
            <%= @patient.vital.bmi %> 
            <span>lbs/in&sup2</span>
          </div>  
        </div> 
      <% end %>
      <div class="form-group row form-inline">
        <div class="col-md-3">
          <%= f.label :blood_pressure, "Blood Pressure" %>
        </div>
        <div class="input-group col-md-3">
          <span class="input-group-addon">SYS</span>
          <% sys = @patient.vital.sys %>
          <%= f.text_field :sys, :class => "form-control", 
            :value => sys, :placeholder => "(BP)" %>  
          <span class="input-group-addon">/ DIA</span>
          <% dia = @patient.vital.dia %>
          <%= f.text_field :dia, :class => "form-control", 
          :value => dia, :placeholder => "(BP)" %>
          <span class="input-group-addon">mmHg</span>
        </div>  
      </div> 
      <div class="form-group row form-inline">
        <div class="col-md-3">
          <%= f.label :hemoglobin %>
        </div>
        <div class="input-group col-md-3">
          <% hemoglobin = @patient.vital.hemoglobin == 0 ? "" : @patient.vital.hemoglobin %>
          <%= f.text_field :hemoglobin, :class => "form-control", 
            :value => hemoglobin, :placeholder => "(HgB)" %>  
          <span class="input-group-addon">mg/dL</span>
        </div>  
      </div>  
      <div class="form-group row form-inline">
        <div class="col-md-3">
          <%= f.label :blood_glucose %>
        </div>
        <div class="input-group col-md-3">
          <% blood_glucose = @patient.vital.blood_glucose == 0 ? "" : @patient.vital.blood_glucose %>
          <%= f.text_field :blood_glucose, :class => "form-control", 
            :value => blood_glucose, :placeholder => "(Glucose)" %>  
          <span class="input-group-addon">mg/dL</span>
        </div>  
      </div> 
      <div class="form-group row col-md-12">
        <hr>
        <div class="container">
          <label class="col-md-3">Working Practitioner(s)</label>
          <div class="col-md-5">
            <% practitioner = @patient.vital.practitioner.empty? ? "#{current_user.first_name} #{current_user.last_name}" : @patient.vital.practitioner %>
            <%= f.text_field :practitioner, :class => "form-control", :value => practitioner, :placeholder => "Can't be blank" %>
          </div>  
        </div>
      </div> 

      <%= render 'patient/input_footer' %>

    <% end %>
  </div>
</div>

<script>
  $(".vitals").addClass("active");
</script>